- Running local LLMs

### Example1

In [1]:
# !pip install langchain_community

# Import the necessary package
from langchain_community.llms import Ollama

# Create a model instance
llm = Ollama(model="llama3")

In [2]:
# Use the model with a prompt
llm.invoke("Generate a short, 2-sentence bio for Alice, who is 25 years old and works as a Engineer")

'Here is a possible bio for Alice:\n\nAlice is a 25-year-old engineer with a passion for solving complex problems and creating innovative solutions. As a driven and detail-oriented professional, she brings her technical expertise and creative mindset to her work, delivering high-quality results that exceed expectations.'

### Example2

In [3]:
import pandas as pd
# Create a sample DataFrame
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'occupation': ['Engineer', 'Teacher', 'Artist']
})
df

      name  age occupation
0    Alice   25   Engineer
1      Bob   30    Teacher
2  Charlie   35     Artist

In [4]:
# Create a function which can be applied to the dataframe
def generate_bio(name, age, occupation):
    prompt = f"Generate a short, 2-sentence bio for {name}, who is {age} years old and works as a {occupation}"
    return llm.invoke(prompt)

# Apply the function to the dataframe
df['bio'] = df.apply(lambda row: generate_bio(row['name'], row['age'], row['occupation']), axis=1)

df.head()

      name  age occupation                                                bio
0    Alice   25   Engineer  Here is a short bio for Alice:\n\nAlice is a b...
1      Bob   30    Teacher  Here is a short, 2-sentence bio for Bob:\n\nBo...
2  Charlie   35     Artist  Here is a short bio for Charlie:\n\nAs a 35-ye...